* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main>.container {
    padding: 30px 0;
}

body {
    background-color: #e6ddde;
}

header {
    display: flex;
    height: 110px;
    background-color: #f7f3f7;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

#navbarHeader {
    margin-left: center;
    gap: 45px;
}

#logo img {
    gap: 20px;
    width: 90px;
    height: 90px;
    margin-left: 10px;
}

h1 {
    font-size: 20px;
}



.card img {
    width: 100px;
    height: 340px;
}

img {
    width: 280px;
}

/* @media screen and(max-width:800px) {

    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        padding: 36px 0px;
    }
} */